# Colab

https://drive.google.com/file/d/1P3aYu5kdMLOVxgl2K6wjzx-HtWB5J_wu/view?usp=sharing
https://www.kaggle.com/datasets/abdelrahmankhalil/100000-uk-used-car-data-set

#### Загрузка с гугл диска для колаб

In [1]:
! gdown --id 1P3aYu5kdMLOVxgl2K6wjzx-HtWB5J_wu

"gdown" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

#### Разархивирование в новую папку

In [2]:
! unzip /content/uk_used_cars.zip -d /content/uk_used_cars/

"unzip" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

In [11]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/uk_used_cars/bmw.csv')

In [5]:
df.head()

NameError: name 'df' is not defined

# Pycharm

In [9]:
from zipfile import ZipFile
with ZipFile('uk_used_cars.zip', 'r') as zf:
    zf.extractall()

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('bmw.csv')

#### Суть human learning в данном датасете:
##### Создание алгоритма для определения цены по параметрам автомобиля (модель, год, пробег и т.д.)

In [15]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0

In [16]:
df.shape

(10781, 9)

## Обучающая и тестовая выборка (train and test)

In [17]:
from sklearn.model_selection import train_test_split

In [23]:
# train, test = train_test_split(df, train_size=0.7)

##### Случайное разбиение на подвыборки по дефолту
##### random_state - фиксация рандома с помощью числа

In [32]:
train, test = train_test_split(df, random_state=42)  # default train_size = 0.75

In [33]:
len(train), len(test), len(test+train), len(df)

(8085, 2696, 10781, 10781)

In [34]:
len(test) / len(df)

0.2500695668305352